.main {
  position: relative;
  height: 90vh;
  overflow: hidden;
  display: flex;
  margin: 1rem 2rem ;
}

.category {
  position: absolute;
  top: 0;
  left: 0;
  width: 16%;
  height: 100%;
  background-color: #f5f5f5;
  padding: 1rem;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  min-width:160px;
}

.category h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.category div {
  margin: 0.5rem 0;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease, font-weight 0.3s ease;
}

.category div:hover {
  background-color: #ddd;
}


.category .active {
  font-weight: bold;
   background-color: #ccc;
}

.products {
  margin-left: 18%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  overflow-y: auto;
}

@media screen and (max-width: 800px) {
  .category {
    display: flex;
    width: 100%;
    height: 10%;
  }

  .products {
    margin-left: 0%;
    margin-top: 11%;
  }

  .category div {
    margin: 0 0 -1rem 0;
  }

}